<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.UserRelatedRoleMapper" >
  <resultMap id="BaseResultMap" type="test.model.UserRelatedRole" >
    <id column="ID" property="id" jdbcType="VARBINARY" />
    <result column="USERID" property="userid" jdbcType="VARBINARY" />
    <result column="ROLEID" property="roleid" jdbcType="VARBINARY" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="byte[]" >
    delete from t_sc_sys_user_related_role
    where ID = #{id,jdbcType=VARBINARY}
  </delete>
  <insert id="insert" parameterType="test.model.UserRelatedRole" >
    insert into t_sc_sys_user_related_role (ID, USERID, ROLEID
      )
    values (#{id,jdbcType=VARBINARY}, #{userid,jdbcType=VARBINARY}, #{roleid,jdbcType=VARBINARY}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="test.model.UserRelatedRole" >
    update t_sc_sys_user_related_role
    set USERID = #{userid,jdbcType=VARBINARY},
      ROLEID = #{roleid,jdbcType=VARBINARY}
    where ID = #{id,jdbcType=VARBINARY}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="byte[]" >
    select ID, USERID, ROLEID
    from t_sc_sys_user_related_role
    where ID = #{id,jdbcType=VARBINARY}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, USERID, ROLEID
    from t_sc_sys_user_related_role
  </select>
</mapper>